<br><br><br>
<form class="form-horizontal" name="formularioCadastro" ng-submit="save(pedido)" novalidate>
    <div class="form-group">
        <div class="row">
            <div class="col-md-3">
                <label class="control-label" for="numero">Número: </label>
                <input type="text" name="numero" class="form-control" id="numero" ng-model="pedido.numero" required>
                <span style="color: red" ng-if="formularioCadastro.numero.$invalid && formularioCadastro.numero.$dirty">Atenção, Campo Obrigatório!</span>
            </div>

            <div class="col-md-3">
                <label class="control-label" for="emissao">Emissão:</label>
                <input type="text" name="emissao" class="form-control" id="descricao" ng-model="pedido.emissao" required>
                <span style="color: red" ng-if="formularioCadastro.emissao.$invalid && formularioCadastro.emissao.$dirty">Atenção, Campo Obrigatório!</span>
            </div>

            <div class="col-md-3">
                <label class="control-label" for="total">Total:</label>
                <input type="text" name="total" class="form-control" id="total" ng-model="pedido.total" ng-model="pedido.total">                
            </div>

            <div class="col-md-3">
                <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#modalProduto">Adicionar Item</button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="modalProduto" class="modal fade bs-example-modal-lg" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Cadastro de Produto</h4>
                </div>
                <div class="modal-body">
                    <form name="formularioItens" class="form-inline" novalidate>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="control-label" for="codigo">Codigo: </label>
                                    <input type="text" name="codigo" class="form-control" id="codigo" ng-model="novoProduto.codigo" ng-change="getProduto(novoProduto.codigo)"
                                        required>
                                    <span style="color: red" ng-if="formularioItens.codigo.$invalid && formularioItens.codigo.$dirty">Atenção, Campo Obrigatório!</span>
                                </div>

                                <div class="col-md-10">
                                    <label class="control-label" for="descricao">Descrição: </label>
                                    <input type="text" name="descricao" class="form-control" id="descricao" ng-model="novoProduto.descricao" disabled required>
                                    <span style="color: red" ng-if="formularioItens.descricao.$invalid && formularioItens.descricao.$dirty">Atenção, Campo Obrigatório!</span>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="control-label" for="quantidade">Quantidade:</label>
                                    <input type="text" name="quantidade" class="form-control" id="quantidade" ng-model="novoProduto.quantidade" ng-change="getTotal(novoProduto.quantidade)"
                                        required>
                                    <span style="color: red" ng-if="formularioItens.quantidade.$invalid && formularioItens.quantidade.$dirty">Atenção, Campo Obrigatório!</span>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label" for="preco">Preço:</label>
                                    <input type="text" name="preco" class="form-control" id="preco" ng-model="novoProduto.preco" disabled required>
                                    <span style="color: red" ng-if="formularioItens.preco.$invalid && formularioItens.preco.$dirty">Atenção, Campo Obrigatório!</span>

                                </div>

                                <div class="col-md-3">
                                    <label class="control-label" for="desconto">Desconto:</label>
                                    <input type="text" name="desconto" class="form-control" id="desconto" ng-model="novoProduto.desconto" ng-change="calcularDesconto(novoProduto.desconto)">
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label" for="total">Total:</label>
                                    <input type="text" name="total" class="form-control" id="total" ng-model="novoProduto.total" disabled required>
                                    <span style="color: red" ng-if="formularioItens.total.$invalid && formularioItens.total.$dirty">Atenção, Campo Obrigatório!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" ng-click="gravarItem(novoProduto)" data-dismiss="modal" ng-disabled="formularioItens.$invalid">Confirmar</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Descrição</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                    <th>Desconto</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in listaDeItens">
                    <td>{{x.codigo}}</td>
                    <td>{{x.descricao}}</td>
                    <td>{{x.quantidade}}</td>
                    <td>{{x.preco}}</td>
                    <td>{{x.desconto}}</td>
                    <td>{{x.total}}</td>
                    <td>
                        <a type="button" class="btn btn-info" ng-click="edit($index)" href="#/pedido/edit">Editar</a>
                        <a type="button" class="btn btn-danger" ng-click="remove($index)">Excluir</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    <div class="form-group">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <button type="submit" ng-disabled="formularioCadastro.$invalid" class="btn btn-success">Cadastrar</button>
            <a href="#/produto" class="btn btn-danger" role="button">Cancelar</a>
        </div>
    </div>
</form>