<div>
    <h2>CADASTRO DE PEDIDO</h2>

    <form class="form-inline">
        <div class="form-group">
            <label for="numero">Número:</label>
            <input type="number" class="form-control" placeholder="Número do pedido">
        </div>
        <div class="form-group">
            <label for="emissao">Data de emissão:</label>
            <input type="date" class="form-control">
        </div>
        <div class="form-group">
            <label for="total">Total:</label>
            <input type="number" class="form-control" placeholder="Total do pedido">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success pull-right">Cadastrar pedido!</button>
        </div>
    </form>

    <br>
    <hr class="divider">
    <br>

    <form class="form-inline">
        <div class="form-group">
            <label for="codigo">Código:</label>
            <input type="number" class="form-control" placeholder="Código do produto">
        </div>
        <div class="form-group">
            <label for="quantidade">Quantidade:</label>
            <input type="number" class="form-control" placeholder="Quantidade de produto">
        </div>
        <div class="form-group">
            <label for="desconto">Desconto:</label>
            <input type="number" class="form-control" placeholder="% do desconto">
        </div>
        -
        <div class="form-group">
            <input type="number" class="form-control" placeholder="Preço unitário" disabled>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" placeholder="Total" disabled>
        </div>
    </form>

</div>