<div>
    <h2>MANTER PEDIDO</h2>

    <br>
    <input class="form-control" type="text" placeholder="Buscar" ng-model="filterProduto">
    <br>

    <table class="table">
    <tr>
        <th>Número</th>
        <th>Emissão</th>
        <th>Total</th>
        <th>Ações</th>
    </tr>
    <tr>
        <td>TESSTE</td>
        <td>TESTE</td>
        <td>TESTE</td>
        <td>
            <button type="submit" class="btn btn-danger" ng-click="remove($index)">Remover</button>
        </td>
    </tr>
    </table>

    <a href="#/pedido/cadastro" type="button" class="btn btn-primary">Novo Pedido</a>
</div>