<form class="navbar-form navbar-left" role="search">
  <h1>PEDIDO</h1>
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span>Procurar</button>
        </span>
        <input type="text" class="form-control" placeholder="Pedido" ng-model="searchPedido">
      </div><!-- /input-group -->
  </div>
  <a type="submit" href="#/pedido/pedidoForm" class="btn btn-default">Novo</a>
</form>

<table class="table table-bordered">
    <thead>
      <tr>
        <th>Número</th>
        <th>Emissão</th>
        <th>Total</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in produtos | filter:searchPedido ">
        <td>{{x.codigo}}</td>
        <td>{{x.descricao}}</td>
        <td>{{x.preco}}</td>
        <td>
          <input type="button" name="" value="Excluir" class="btn btn-danger" ng-click="excluirProduto(x)">
          <a href="#/produto/{{x.codigo}}/editar" class="btn btn-info">Editar</a>
        </td>
      </tr>
    </tbody>
  </table>
