<div class="">
  <form ng-submit="salvarProduto(produto)">
    <div class="form-group">
      <label for="exampleInputEmail1">Código</label>
      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Código" ng-model="produto.codigo" required >
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Descrição</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Descrição" ng-model="produto.descricao" required >
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Preço</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Preço" ng-model="produto.preco" required >
    </div>

    <button type="submit" class="btn btn-success">Salvar</button>
  </form>
</div>
