<div>
    <h2>CADASTRO DE PRODUTO</h2>

    <form name="produtoForm" novalidate ng-submit="save(produto)">
        <div class="form-group">
            <label for="codigo">Código:</label>
            <input type="number" name="codigo" class="form-control" placeholder="Código" required ng-model="produto.codigo">
            <spam style="color: red" ng-if="produtoForm.codigo.$invalid && produtoForm.codigo.$dirty">Este campo é obrigatório!</spam>
        </div>
        <div class="form-group">
            <label for="descricao">Descrição:</label>
            <input type="text" name="descricao" class="form-control" placeholder="Descrição" required ng-model="produto.descricao">
            <spam style="color: red" ng-if="produtoForm.descricao.$invalid && produtoForm.descricao.$dirty">Este campo é obrigatório!</spam>
        </div>
        <div class="form-group">
            <label for="preco">Preço:</label>
            <input type="number" name="preco" class="form-control" placeholder="Preço" required ng-model="produto.preco">
            <spam style="color: red" ng-if="produtoForm.preco.$invalid && produtoForm.preco.$dirty">Este campo é obrigatório!</spam>
        </div>
        <button type="submit" class="btn btn-default" ng-disabled="produtoForm.$invalid">Cadastrar!</button> <button type="reset" class="btn btn-danger">Cancelar</button>
    </form>
</div>