<div>
    <h2>MANTER PRODUTO</h2>

    <br>
    <input class="form-control" type="text" placeholder="Buscar">
    <br>

    <table class="table">
    <tr>
        <th>Código</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Ações</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Bola</td>
        <td>R$ 50,00</td>
    </tr>
    <tr>
        <td>2</td>
        <td>PC</td>
        <td>R$ 1.500,00</td>
    </tr>
    </table>

    <a href="#/produto/cadastro" type="button" class="btn btn-primary">Novo Produto</a>
</div>